h1 {
    font-size: 72px;
     color: #DDA0DD;
     text-align: center;
}
ul.main-menu> {
  display: inline;
}
ul.main-menu>li {
    display: inline;
    font-size: 115%;
    color: #DDA0DD; 
}
li>a:hover {
    background-color: #FFE4E1;
}
body {
    background-color: #ffffff;
}
li>a: {
    padding: 10px;
    }
ul a {
    display: block;
    padding: 1em 1em;
    color: #2f4f4f;
    text-align: center;
}
